body, html {
  width: 100%;
  height: 100%;
  background: #fff; }

@font-face {
  font-family: "Nexa Light";
  src: url("../fonts/NexaLight.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: "Nexa Bold";
  src: url("../fonts/NexaBold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
body {
  font-family: "Nexa Light", serif;
  font-size: 16px; }

.bold {
  font-family: "Nexa Bold", serif;
  font-size: 1.5em; }

.text-paper {
  font-size: 0.85em; }

.block-image h1 {
  text-align: center; }

.bold {
  font-family: "Nexa Bold", serif;
  font-size: large; }

.orange {
  background-color: #ef9f64; }

.white-text {
  color: #fff; }

.pink-text {
  color: #e794ae; }

@media (min-width: 767px) {
  .navbar {
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }
    .navbar .navbar-nav {
      float: right;
      margin-top: 10px; }

  .navbar.navbar-inverse {
    background-color: #F5F5F5 !important;
    border: none; }

  .top-nav-collapse {
    padding: 0; } }
.navbar figure.logo img {
  width: 80px;
  opacity: 50%; }
.navbar ul.nav li a {
  padding: 25px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 50px 50px; }
.navbar .menu-top {
  background-image: url(../images/menu/.png); }
.navbar .menu-teatro {
  background-image: url(../images/menu/teatro.png); }
.navbar .menu-filosofia {
  background-image: url(../images/menu/cosa-offriamo.png); }
.navbar .menu-opera {
  background-image: url(../images/menu/la-stagione.png); }
.navbar .menu-banker {
  background-image: url(../images/menu/the-banker.png); }
.navbar .menu-crowd {
  background-image: url(../images/menu/sostieni-teatro.png); }
.navbar .menu-partners {
  background-image: url(../images/menu/chi-siamo.png); }
.navbar .menu-press {
  background-image: url(../images/menu/stampa.png); }
.navbar .menu-contatti {
  background-image: url(../images/menu/contatti.png); }

#teatro {
  padding-top: 150px;
  text-align: center; }

#filosofia {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

#stagione {
  height: 100%;
  text-align: center; }

#the_banker {
  height: 100%;
  text-align: center; }

#contatti {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

#press {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

#sostieni {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

#sostieni2 {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

#chi_siamo {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

#cover {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url(../images/header.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  #cover h1 {
    font-size: 4em;
    text-align: left;
    font-weight: 100; }
  #cover figure img {
    float: left;
    width: 130px;
    margin: 0px !important;
    padding: 0px !important; }

#teatro {
  text-align: center; }
  #teatro article {
    width: 50%;
    margin: 0 auto;
    font-size: 1.125em; }
    #teatro article h1 {
      font-family: "Nexa Bold", serif;
      font-size: 1.5em; }

#filosofia {
  text-align: center; }
  #filosofia article {
    width: 50%;
    margin: 0 auto;
    font-size: 1.125em; }
    #filosofia article h1 {
      font-family: "Nexa Bold", serif;
      font-size: 1.5em; }
  #filosofia .con-sfondo {
    background-attachment: scroll;
    background-image: url("../images/04teatro2.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 40px; }
    #filosofia .con-sfondo .text-paper {
      margin: 40px; }
      #filosofia .con-sfondo .text-paper article {
        margin-left: 80px;
        width: 100%; }

#stagione {
  text-align: center; }
  #stagione article {
    width: 50%;
    margin: 0 auto;
    font-size: 1.125em; }
    #stagione article h1 {
      font-family: "Nexa Bold", serif;
      font-size: 1.5em; }
  #stagione .calendar {
    margin-bottom: 40px; }

#the_banker {
  text-align: center; }
  #the_banker h1 {
    font-size: 2.25em;
    color: white; }
  #the_banker h2 {
    font-size: 1.25em;
    color: white;
    margin-top: 10px; }
  #the_banker .banker-bg {
    background-attachment: scroll;
    background-image: url("../images/06thebanker.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px; }

#sostieni {
  text-align: center;
  background-color: #f1f0f0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  #sostieni h1 {
    font-size: 2.25em; }
  #sostieni article {
    width: 50%;
    margin: 0 auto;
    font-size: 1.125em; }
    #sostieni article h1 {
      font-family: "Nexa Bold", serif;
      font-size: 1.5em; }
    #sostieni article .thumb-video {
      width: 70%;
      height: 70%; }

#sostieni2 {
  text-align: center; }
  #sostieni2 article {
    width: 50%;
    margin: 0 auto;
    font-size: 1.125em; }
    #sostieni2 article h1 {
      font-family: "Nexa Bold", serif;
      font-size: 1.5em; }
    #sostieni2 article .btn-primary {
      border: 5px solid black;
      background-color: white;
      color: black;
      font-size: 1.125em;
      font-family: "Nexa Bold", serif;
      margin-top: 30px;
      padding: 15px; }
    #sostieni2 article a:hover {
      border: 5px solid black;
      background-color: black;
      color: white;
      font-size: 1.125em;
      font-family: "Nexa Bold", serif;
      margin-top: 30px;
      padding: 15px; }

#sostieni {
  text-align: center;
  background-color: black; }
  #sostieni h1 {
    font-size: 2.25em; }
  #sostieni article {
    width: 50%;
    margin: 0 auto;
    font-size: 1.125em; }
    #sostieni article h1 {
      font-family: "Nexa Bold", serif;
      font-size: 1.5em; }
    #sostieni article .thumb-video {
      width: 70%;
      height: 70%; }

/*# sourceMappingURL=style.css.map */
