#teatro
  padding-top: 150px
  text-align: center

#filosofia
  height: 100%
  padding-top: 150px
  text-align: center

#the_banker
  height: 100%
  padding-top: 150px
  text-align: center

#contatti
  height: 100%
  padding-top: 150px
  text-align: center

#press
  height: 100%
  padding-top: 150px
  text-align: center

#sostieni
  height: 100%
  padding-top: 150px
  text-align: center

#chi_siamo
  height: 100%
  padding-top: 150px
  text-align: center