#chi_siamo
  h1
    font-size: 2.250em
    color: white
    margin-bottom: 50px
  article
    margin: 0 auto
    font-size: 1.125em
<<<<<<< HEAD
    h1
      font-family: 'Nexa Bold', serif
      font-size: 1.15em
      color: white
      margin-bottom: 50px
=======
@import "polaroid"
>>>>>>> origin/master
