#chi_siamo
  h1
    font-size: 2.250em
    color: white
    margin-bottom: 50px
  article
    margin: 0 auto
    font-size: 1.125em
@import "polaroid"
.modal-body
  figure
    float: left
    width: 200px
    text-align: center
    img
      width: 180px
  .modal_bio
    font-size: 0.85em !important
    