#filosofia
  text-align: center
  article
    width: 50%
    margin: 0 auto
    font-size: 1.125em
    h1
      font-family: 'Nexa Bold', serif
      font-size: 1.5em
  .con-sfondo
    background-attachment: scroll
    background-image: url('../images/04teatro2.jpg')
    background-position: center bottom
    background-repeat: no-repeat
    background-size: cover
    height: 100%
    margin-top: 40px
    .text-paper
      margin: 40px
      article
        margin-left: 80px
        width: 100%