@font-face
  font-family: Nexa Light
  src: url("../fonts/NexaLight.otf") format("opentype")

@font-face
  font-family: Nexa Bold
  font-weight: bold
  src: url("../fonts/NexaBold.otf") format("opentype")

body
  font-family: 'Nexa Light', serif
  font-size: 1em

.bold
  font-family: 'Nexa Bold', serif
  font-size: 1.5em