@media (min-width: 767px)
  .navbar
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out
    transition: background .5s ease-in-out,padding .5s ease-in-out
    .navbar-nav
      float: right
      margin-top: 10px
  .navbar.navbar-inverse
    background-color: #F5F5F5 !important
    border: none
  .top-nav-collapse
    padding: 0
  #navbar
    span
      display: none
      visibility: hidden

.navbar-inverse .navbar-nav>.active>a
  background-color: #F5F5F5 !important
.navbar
  height: 100px
  margin: 0px
  min-height: unset
  .navbar-header
    h1
      float: right
      font-size: 2em
      margin: 30px 0px 0px -35px
    &:hover h1, &:hover #lang 
      color: #9D9D9D !important
  #lang
    text-align: center
    left: 22px
    position: relative
    top: -35px
    display: inline-block
    width: 60px
    a
      color: #9D9D9D !important
      &:hover
        color: #2C475C !important
        text-decoration: none
        font-weight: bold
    a.active
      color: #2C475C !important
      font-weight: bold !important
  .navbar-brand
    margin-top: 5px
    float: left
    img
      width: 80px
    a:hover
      color: #9D9D9D !important
  ul.nav li
    a
      padding: 25px
      background-position: center top
      background-repeat: no-repeat
      background-size: 50px 50px
  #navbar
    height: 70px !important
    li.active
      background-color: none !important
    li.active .menu-teatro, li:hover .menu-teatro
      background-image: url(../images/menu/over/teatro.png)
    li.active .menu-filosofia, li:hover .menu-filosofia
      background-image: url(../images/menu/over/cosa-offriamo.png)
    li.active .menu-opera, li:hover .menu-opera
      background-image: url(../images/menu/over/la-stagione.png)
    li.active .menu-banker, li:hover .menu-banker
      background-image: url(../images/menu/over/the-banker.png)
    li.active .menu-crowd, li:hover .menu-crowd
      background-image: url(../images/menu/over/sostieni-teatro.png)
    li.active .menu-partners, li:hover .menu-partners
      background-image: url(../images/menu/over/chi-siamo.png)
    li.active .menu-press, li:hover .menu-press
      background-image: url(../images/menu/over/stampa.png)
    li.active .menu-contatti, li:hover .menu-contatti, 
      background-image: url(../images/menu/over/contatti.png)
  .menu-teatro
    background-image: url(../images/menu/teatro.png)
  .menu-teatro:hover
    background-image: url(../images/menu/over/teatro.png)
  .menu-filosofia
    background-image: url(../images/menu/cosa-offriamo.png)
  .menu-opera
    background-image: url(../images/menu/la-stagione.png)
  .menu-banker
    background-image: url(../images/menu/the-banker.png)
  .menu-crowd
    background-image: url(../images/menu/sostieni-teatro.png)
  .menu-partners
    background-image: url(../images/menu/chi-siamo.png)
  .menu-press
    background-image: url(../images/menu/stampa.png)
  .menu-contatti
    background-image: url(../images/menu/contatti.png)
  #menu-title
    text-align: right
    font-weight: bold
    text-transform: uppercase


@media (min-width: 768px) and (max-width: 1024px)
  .navbar
    height: 100px
    margin: 0px
    min-height: unset
    .navbar-header
      h1
        font-size: 0.8em !important

@media (max-width: 767px)
  .navbar
    .navbar-header h1
      float: none
      font-size: 1.2em
      margin: none
      color: white
    .navbar-brand
      margin-top: -5px
      float: none
    img
      width: 80px
      vertical-align: middle
      float: left
    ul.nav li a
      padding: 10px
      span
        padding-left: 15px
    #navbar
      height: auto !important
      margin-top: 5px
      span
        margin-left: 40px
      li
        background-color: #222222
        a
          background-position: left
      li.active a
        background-color: #222222 !important
    #menu-title
      display: none
      visibility: hidden
    