#press
  padding-bottom: 50px
  h1
    font-size: 2.250em
  .partner
    border-radius: 50%
    text-align: center
    width: 200px
    height: 200px
    background-color: white
    min-height: 170px
    margin-top: 15%
    margin-bottom: 15%
    white-space: nowrap
    img
      margin-top: 10%
  .press-txt
    h1
      font-family: 'Nexa Bold', serif
      font-size: 1.5em
