#stagione
  text-align: center
  article
    width: 50%
    margin: 0 auto
    font-size: 1em
    h1
      font-family: 'Nexa Bold', serif
      font-size: 1.5em
  .calendar
    background-color: #e794ae
    margin-bottom: 40px
