#the_banker
  text-align: center
  h1
    font-size: 2.250em
    color: white
  h2
    font-size: 1.250em
    color: white
    margin-top: 10px
  .banker-bg
    background-attachment: scroll
    background-image: url('../images/06thebanker.jpg')
    background-position: center bottom
    background-repeat: no-repeat
    background-size: cover
    height: 100%
    margin-top: 40px
    padding-top: 40px
    padding-bottom: 40px
