#the_banker
  background-attachment: scroll
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  padding-bottom: 30px
  color: white
  text-align: center
  .credits
    margin-top: 0px
    line-height: 18px
  h2
    font-family: 'Perpetua Titling MT'
    font-size: 1.5em
    margin-top: 10px
    line-height: 0px
  h1
    font-family: 'Perpetua Titling MT'
    font-size: 4.5em
    line-height: 55px
  h3
    font-family: 'Perpetua Titling MT'
    font-size: 1.2em
    text-transform:none
    line-height: 0px
  img
    margin-bottom: 30px
    
@media(max-width:767px)
  #the_banker
    background-image: none
@media(min-width:768px)
  #the_banker
    background-image: url('../images/bg-banker.jpg')
//@media(min-width:768px)
//  #the_banker
//    background-image: url('../images/992x920thebanker.jpg')
//@media(min-width:992px)
//  #the_banker
//    background-image: url('../images/1200x920thebanker.jpg')
//@media(min-width:1200px)
//  #the_banker
//    background-image: url('../images/1440x920thebanker.jpg')
//@media(min-width:1440px)
//  #the_banker
//    background-image: url('../images/1600x920thebanker.jpg')
//@media(min-width:16000px)
//  #the_banker
//    background-image: url('../images/1920x960thebanker.jpg')
    
