.orange
  background-color: #ef9f64

.orange-text
  color: #ef9f64

.white-text
  color: #fff

.pink-text
  color: #e794ae

.violet
  background-color: #8086a0

.violet-text
  color: #8086a0

.white
  background-color: #fff

.white-text
  color: #fff

.blue-dark
  background-color: #263E52

.dark-grey
  background-color: #666

.dark-grey-text
  background-color: #666