/* line 1, /Mick/WORKS/soh/sass/reset */
body, html {
  width: 100%;
  height: 100%;
  background: #fff; }

@font-face {
  font-family: 'Nexa Light';
  src: url('../fonts/NexaLight.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Nexa Bold';
  src: url('../fonts/NexaBold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* line 15, /Mick/WORKS/soh/sass/fonts */
body {
  font-family: 'Nexa Light', serif;
  font-size: 16px; }

/* line 19, /Mick/WORKS/soh/sass/fonts */
.bold {
  font-family: 'Nexa Bold', serif;
  font-size: 1.5em; }

/* line 2, /Mick/WORKS/soh/sass/extends */
.block-image h1 {
  text-align: center; }

/* line 5, /Mick/WORKS/soh/sass/extends */
.bold {
  font-family: 'Nexa Bold', serif;
  font-size: large; }

/* line 1, /Mick/WORKS/soh/sass/variables */
.orange {
  background-color: #ef9f64; }

/* line 4, /Mick/WORKS/soh/sass/variables */
.white-text {
  color: #fff; }

@media (min-width: 767px) {
  /* line 2, /Mick/WORKS/soh/sass/navbar */
  .navbar {
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }
    /* line 6, /Mick/WORKS/soh/sass/navbar */
    .navbar .navbar-nav {
      float: right;
      margin-top: 10px; }

  /* line 9, /Mick/WORKS/soh/sass/navbar */
  .navbar.navbar-inverse {
    background-color: #F5F5F5 !important;
    border: none; }

  /* line 12, /Mick/WORKS/soh/sass/navbar */
  .top-nav-collapse {
    padding: 0; }
 }

/* line 17, /Mick/WORKS/soh/sass/navbar */
.navbar figure.logo img {
  width: 80px;
  opacity: 50%; }
/* line 21, /Mick/WORKS/soh/sass/navbar */
.navbar ul.nav li a {
  padding: 25px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 50px 50px; }
/* line 26, /Mick/WORKS/soh/sass/navbar */
.navbar .menu-top {
  background-image: url(../images/menu/.png); }
/* line 28, /Mick/WORKS/soh/sass/navbar */
.navbar .menu-teatro {
  background-image: url(../images/menu/teatro.png); }
/* line 30, /Mick/WORKS/soh/sass/navbar */
.navbar .menu-filosofia {
  background-image: url(../images/menu/cosa-offriamo.png); }
/* line 32, /Mick/WORKS/soh/sass/navbar */
.navbar .menu-opera {
  background-image: url(../images/menu/la-stagione.png); }
/* line 34, /Mick/WORKS/soh/sass/navbar */
.navbar .menu-banker {
  background-image: url(../images/menu/the-banker.png); }
/* line 36, /Mick/WORKS/soh/sass/navbar */
.navbar .menu-crowd {
  background-image: url(../images/menu/sostieni-teatro.png); }
/* line 38, /Mick/WORKS/soh/sass/navbar */
.navbar .menu-partners {
  background-image: url(../images/menu/chi-siamo.png); }
/* line 40, /Mick/WORKS/soh/sass/navbar */
.navbar .menu-press {
  background-image: url(../images/menu/stampa.png); }
/* line 42, /Mick/WORKS/soh/sass/navbar */
.navbar .menu-contatti {
  background-image: url(../images/menu/contatti.png); }

/* line 1, /Mick/WORKS/soh/sass/base */
#teatro {
  padding-top: 150px;
  text-align: center; }

/* line 5, /Mick/WORKS/soh/sass/base */
#filosofia {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

/* line 10, /Mick/WORKS/soh/sass/base */
#the_banker {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

/* line 15, /Mick/WORKS/soh/sass/base */
#contatti {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

/* line 20, /Mick/WORKS/soh/sass/base */
#press {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

/* line 25, /Mick/WORKS/soh/sass/base */
#sostieni {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

/* line 30, /Mick/WORKS/soh/sass/base */
#chi_siamo {
  height: 100%;
  padding-top: 150px;
  text-align: center; }

/* line 1, /Mick/WORKS/soh/sass/cover */
#cover {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url(../images/header.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  /* line 13, /Mick/WORKS/soh/sass/cover */
  #cover h1 {
    font-size: 4em;
    text-align: left;
    font-weight: 100; }
  /* line 17, /Mick/WORKS/soh/sass/cover */
  #cover figure img {
    float: left;
    width: 130px;
    margin: 0px !important;
    padding: 0px !important; }

/* line 1, /Mick/WORKS/soh/sass/teatro */
#teatro {
  text-align: center; }
  /* line 3, /Mick/WORKS/soh/sass/teatro */
  #teatro article {
    width: 50%;
    margin: 0 auto;
    font-size: 1.125em; }
    /* line 7, /Mick/WORKS/soh/sass/teatro */
    #teatro article h1 {
      font-family: 'Nexa Bold', serif;
      font-size: 1.5em; }

/* line 1, /Mick/WORKS/soh/sass/filosofia */
#filosofia {
  text-align: center; }
  /* line 3, /Mick/WORKS/soh/sass/filosofia */
  #filosofia article {
    width: 50%;
    margin: 0 auto;
    font-size: 1.125em; }
    /* line 7, /Mick/WORKS/soh/sass/filosofia */
    #filosofia article h1 {
      font-family: 'Nexa Bold', serif;
      font-size: 1.5em; }
  /* line 10, /Mick/WORKS/soh/sass/filosofia */
  #filosofia .con-sfondo {
    background-attachment: scroll;
    background-image: url('../images/04teatro2.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100%; }
    /* line 16, /Mick/WORKS/soh/sass/filosofia */
    #filosofia .con-sfondo article {
      width: 100%; }

/*# sourceMappingURL=style.css.map */