/* line 1, /Users/mcataneo/Sites/soh/sass/_reset.sass */
body, html {
  width: 100%;
  height: 100%;
  background: #fff; }

@font-face {
  font-family: 'Nexa Light';
  src: url('../fonts/NexaLight.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Nexa Bold';
  src: url('../fonts/NexaBold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

/* line 15, /Users/mcataneo/Sites/soh/sass/_fonts.sass */
body {
  font-family: 'Nexa Light', serif;
  font-size: 16px; }

/* line 19, /Users/mcataneo/Sites/soh/sass/_fonts.sass */
.bold {
  font-family: 'Nexa Bold', serif;
  font-size: 1.5em; }

/* line 23, /Users/mcataneo/Sites/soh/sass/_fonts.sass */
.text-paper {
  font-size: 0.85em; }

/* line 2, /Users/mcataneo/Sites/soh/sass/_extends.sass */
.block-image h1 {
  text-align: center; }

/* line 5, /Users/mcataneo/Sites/soh/sass/_extends.sass */
.bold {
  font-family: 'Nexa Bold', serif;
  font-size: large; }

/* line 1, /Users/mcataneo/Sites/soh/sass/_variables.sass */
.orange {
  background-color: #ef9f64; }

/* line 4, /Users/mcataneo/Sites/soh/sass/_variables.sass */
.white-text {
  color: #fff; }

/* line 7, /Users/mcataneo/Sites/soh/sass/_variables.sass */
.pink-text {
  color: #e794ae; }

/* line 10, /Users/mcataneo/Sites/soh/sass/_variables.sass */
.violet {
  background-color: #8086a0; }

@media (min-width: 767px) {
  /* line 2, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
  .navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out; }
    /* line 6, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
    .navbar .navbar-nav {
      float: right;
      margin-top: 10px; }
  /* line 9, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
  .navbar.navbar-inverse {
    background-color: #F5F5F5 !important;
    border: none; }
  /* line 12, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
  .top-nav-collapse {
    padding: 0; } }

/* line 17, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
.navbar figure.logo img {
  width: 80px;
  opacity: 50%; }
/* line 21, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
.navbar ul.nav li a {
  padding: 25px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 50px 50px; }
/* line 26, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
.navbar .menu-top {
  background-image: url(../images/menu/.png); }
/* line 28, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
.navbar .menu-teatro {
  background-image: url(../images/menu/teatro.png); }
/* line 30, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
.navbar .menu-filosofia {
  background-image: url(../images/menu/cosa-offriamo.png); }
/* line 32, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
.navbar .menu-opera {
  background-image: url(../images/menu/la-stagione.png); }
/* line 34, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
.navbar .menu-banker {
  background-image: url(../images/menu/the-banker.png); }
/* line 36, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
.navbar .menu-crowd {
  background-image: url(../images/menu/sostieni-teatro.png); }
/* line 38, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
.navbar .menu-partners {
  background-image: url(../images/menu/chi-siamo.png); }
/* line 40, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
.navbar .menu-press {
  background-image: url(../images/menu/stampa.png); }
/* line 42, /Users/mcataneo/Sites/soh/sass/_navbar.sass */
.navbar .menu-contatti {
  background-image: url(../images/menu/contatti.png); }

/* line 1, /Users/mcataneo/Sites/soh/sass/_base.sass */
#teatro {
  padding-top: 100px;
  text-align: center; }

/* line 5, /Users/mcataneo/Sites/soh/sass/_base.sass */
#filosofia {
  height: 100%;
  padding-top: 100px;
  text-align: center; }

/* line 10, /Users/mcataneo/Sites/soh/sass/_base.sass */
#stagione {
  height: 100%;
  text-align: center; }

/* line 14, /Users/mcataneo/Sites/soh/sass/_base.sass */
#the_banker {
  height: 100%;
  text-align: center; }

/* line 18, /Users/mcataneo/Sites/soh/sass/_base.sass */
#contatti {
  height: 100%;
  padding-top: 100px;
  text-align: center; }

/* line 23, /Users/mcataneo/Sites/soh/sass/_base.sass */
#press {
  height: 100%;
  padding-top: 100px;
  text-align: center; }

/* line 28, /Users/mcataneo/Sites/soh/sass/_base.sass */
#sostieni {
  height: 100%;
  padding-top: 100px;
  text-align: center; }

/* line 33, /Users/mcataneo/Sites/soh/sass/_base.sass */
#sostieni2 {
  height: 100%;
  padding-top: 100px;
  text-align: center; }

/* line 38, /Users/mcataneo/Sites/soh/sass/_base.sass */
#chi_siamo {
  height: 100%;
  padding-top: 100px;
  text-align: center; }

/* line 43, /Users/mcataneo/Sites/soh/sass/_base.sass */
#press {
  height: 100%;
  padding-top: 100px;
  text-align: center; }

/* line 1, /Users/mcataneo/Sites/soh/sass/_cover.sass */
#cover {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url(../images/header.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  /* line 13, /Users/mcataneo/Sites/soh/sass/_cover.sass */
  #cover h1 {
    font-size: 4em;
    text-align: left;
    font-weight: 100; }
  /* line 17, /Users/mcataneo/Sites/soh/sass/_cover.sass */
  #cover figure img {
    float: left;
    width: 130px;
    margin: 0px !important;
    padding: 0px !important; }

/* line 1, /Users/mcataneo/Sites/soh/sass/_teatro.sass */
#teatro {
  text-align: center; }
  /* line 3, /Users/mcataneo/Sites/soh/sass/_teatro.sass */
  #teatro article {
    width: 50%;
    margin: 0 auto;
    font-size: 1em; }
    /* line 7, /Users/mcataneo/Sites/soh/sass/_teatro.sass */
    #teatro article h1 {
      font-family: 'Nexa Bold', serif;
      font-size: 1.5em; }

/* line 1, /Users/mcataneo/Sites/soh/sass/_filosofia.sass */
#filosofia {
  text-align: center; }
  /* line 3, /Users/mcataneo/Sites/soh/sass/_filosofia.sass */
  #filosofia article {
    width: 50%;
    margin: 0 auto;
    font-size: 1em; }
    /* line 7, /Users/mcataneo/Sites/soh/sass/_filosofia.sass */
    #filosofia article h1 {
      font-family: 'Nexa Bold', serif;
      font-size: 1.5em; }
  /* line 10, /Users/mcataneo/Sites/soh/sass/_filosofia.sass */
  #filosofia .con-sfondo {
    background-attachment: scroll;
    background-image: url('../images/04teatro2.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 40px; }
    /* line 18, /Users/mcataneo/Sites/soh/sass/_filosofia.sass */
    #filosofia .con-sfondo .text-paper {
      margin: 40px; }
      /* line 20, /Users/mcataneo/Sites/soh/sass/_filosofia.sass */
      #filosofia .con-sfondo .text-paper article {
        margin-left: 80px;
        width: 100%; }

/* line 1, /Users/mcataneo/Sites/soh/sass/_stagione.sass */
#stagione {
  text-align: center; }
  /* line 3, /Users/mcataneo/Sites/soh/sass/_stagione.sass */
  #stagione article {
    width: 50%;
    margin: 0 auto;
    font-size: 1em; }
    /* line 7, /Users/mcataneo/Sites/soh/sass/_stagione.sass */
    #stagione article h1 {
      font-family: 'Nexa Bold', serif;
      font-size: 1.5em; }
  /* line 10, /Users/mcataneo/Sites/soh/sass/_stagione.sass */
  #stagione .calendar {
    background-color: #e794ae;
    margin-bottom: 40px; }

/* line 1, /Users/mcataneo/Sites/soh/sass/_thebanker.sass */
#the_banker {
  text-align: center; }
  /* line 3, /Users/mcataneo/Sites/soh/sass/_thebanker.sass */
  #the_banker h1 {
    font-size: 2.25em;
    color: white; }
  /* line 6, /Users/mcataneo/Sites/soh/sass/_thebanker.sass */
  #the_banker h2 {
    font-size: 1.25em;
    color: white;
    margin-top: 10px; }
  /* line 10, /Users/mcataneo/Sites/soh/sass/_thebanker.sass */
  #the_banker .banker-bg {
    background-attachment: scroll;
    background-image: url('../images/06thebanker.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px; }

/* line 1, /Users/mcataneo/Sites/soh/sass/_sostieni.sass */
#sostieni {
  text-align: center;
  background-color: #f1f0f0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  /* line 6, /Users/mcataneo/Sites/soh/sass/_sostieni.sass */
  #sostieni h1 {
    font-size: 2.25em; }
  /* line 8, /Users/mcataneo/Sites/soh/sass/_sostieni.sass */
  #sostieni article {
    width: 50%;
    margin: 0 auto;
    font-size: 1em; }
    /* line 12, /Users/mcataneo/Sites/soh/sass/_sostieni.sass */
    #sostieni article h1 {
      font-family: 'Nexa Bold', serif;
      font-size: 1.5em; }
    /* line 15, /Users/mcataneo/Sites/soh/sass/_sostieni.sass */
    #sostieni article .thumb-video {
      width: 70%;
      height: 70%; }

/* line 1, /Users/mcataneo/Sites/soh/sass/_sostieni2.sass */
#sostieni2 {
  text-align: center; }
  /* line 3, /Users/mcataneo/Sites/soh/sass/_sostieni2.sass */
  #sostieni2 article {
    width: 50%;
    margin: 0 auto;
    font-size: 1em; }
    /* line 7, /Users/mcataneo/Sites/soh/sass/_sostieni2.sass */
    #sostieni2 article h1 {
      font-family: 'Nexa Bold', serif;
      font-size: 1.5em; }

/* line 1, /Users/mcataneo/Sites/soh/sass/_chisiamo.sass */
#chi_siamo {
  text-align: center;
  background-color: #666; }
  /* line 4, /Users/mcataneo/Sites/soh/sass/_chisiamo.sass */
  #chi_siamo h1 {
    font-size: 2.25em;
    color: white;
    margin-bottom: 50px; }
  /* line 8, /Users/mcataneo/Sites/soh/sass/_chisiamo.sass */
  #chi_siamo article {
    margin: 0 auto;
    font-size: 1.125em; }
    /* line 11, /Users/mcataneo/Sites/soh/sass/_chisiamo.sass */
    #chi_siamo article h1 {
      font-family: 'Nexa Bold', serif;
      font-size: 1.15em;
      color: white;
      margin-bottom: 50px; }

/* line 1, /Users/mcataneo/Sites/soh/sass/_press.sass */
#press {
  text-align: center; }
  /* line 3, /Users/mcataneo/Sites/soh/sass/_press.sass */
  #press h1 {
    font-size: 2.25em;
    color: white;
    margin-bottom: 50px; }
  /* line 7, /Users/mcataneo/Sites/soh/sass/_press.sass */
  #press .partner {
    background-color: white;
    border-radius: 50%;
    width: 180px;
    height: 180px; }
  /* line 12, /Users/mcataneo/Sites/soh/sass/_press.sass */
  #press .press-txt {
    margin-top: 20px; }
    /* line 14, /Users/mcataneo/Sites/soh/sass/_press.sass */
    #press .press-txt h1 {
      font-family: 'Nexa Bold', serif;
      font-size: 1.5em; }

/* line 1, /Users/mcataneo/Sites/soh/sass/_buttons.sass */
.btn-primary {
  border: 5px solid black;
  background-color: white;
  color: black;
  font-size: 1.125em;
  font-family: 'Nexa Bold', serif;
  margin-top: 30px;
  padding: 15px; }

/* line 10, /Users/mcataneo/Sites/soh/sass/_buttons.sass */
.btn-primary:hover {
  border: 5px solid black;
  background-color: black;
  color: white;
  font-size: 1.125em;
  font-family: 'Nexa Bold', serif;
  margin-top: 30px;
  padding: 15px; }

/*# sourceMappingURL=style.css.map */